.container {
  position: relative;
}

#board {
  width: 272px;
  border: solid 1px black;
  display: grid; /*inline-grid*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  grid-template-columns: repeat(9, 30px);
  grid-template-rows: repeat(9, 30px);
}

#button-row {
  width: 272px;
  display: grid;
  position: relative;
  justify-items: end;
  left: 50%;
  transform: translateX(-50%);
}

.hoverboard {
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 270px;

  display: grid; /*inline-grid*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hb-chunck {
  width: 90px;
  height: 90px;

  background-color: rgba(22, 237, 245, 0.2);
}